<h1>{{meetingRoomEmail}} Events</h1>
<table class="table">
  <thead>
    <th scope="col">Organizer</th>
    <th scope="col">Subject</th>
    <th scope="col">Location</th>
    <th scope="col">Start</th>
    <th scope="col">End</th>
    <th scope="col">Attendees</th>
  </thead>
  <tbody>
    <tr *ngFor="let event of events">
      <td>{{event.organizer.emailAddress.name}}</td>
      <td>{{event.subject}}</td>
      <td>{{event.location.displayName}}</td>
      <td>{{formatDateTimeTimeZone(event.start) | date:'short' }}</td>
      <td>{{formatDateTimeTimeZone(event.end) | date: 'short' }}</td>
      <td>{{event.attendees | json}}</td>
    </tr>
  </tbody>
</table>